a:link, a:visited {
    background-color: #81C784;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
a:hover:not(.active) {
    background-color: #111;
}
